
/* font family Raleway */

@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font family Barlow */

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ============= 01. Reset section ============= */


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

.header-index {
    background-image: url("../Images/bg/hero_bg.png");
    background-position: center center;
    background-size: cover;
}

header {
    padding: 20px 0;
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 15px;
    color: #d3c9c1;
}

.container-nav {
    gap: 70px;
}

.navbar-logo {
    margin-right: 25px;
}

.navbar-nav {
    gap: 50px;
}

.nav-link {
    font-weight: 400;
    color: #d3c9c1;
}

nav li a.active,
.nav-link:is(:hover, :focus-visible) {
    color: #f57c48;
}

.dropdown {
    position: relative;
}

.dropdown-toggle::after {
    content: '+';
    vertical-align: middle;
    margin-left: 5px;
}

.dropdown-menu {
    position: absolute;
    padding: 30px;
    display: none;
    z-index: 9;
}

.navbar .dropdown:hover .dropdown-menu {
    display: block;
    width: 220px;
    padding: 15px 0px 15px 0px;
    border-radius: 10px;
    background-color: #3d0f41;
    margin-left: -52px;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: inherit;
}

.dropdown-item {
    display: block;
    width: 100%;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: white;
    background-color: inherit;
}

.dropdown-menu li {
    display: block;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #ffffff;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
}

.dropdown-menu .dropdown-item::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    transition: all 0.3s ease-in-out;
    background: #b520a3;
    z-index: -1;
    top: 0;
    left: 0;
}

.dropdown-menu .dropdown-item:hover::before {
    width: 100%;
    background: #b520a3;
}

.nav-right {
    gap: 45px;
}

.nav-right p:first-child {
    color: #d3c9c1;
}

.nav-right span {
    color: #f57c48;
}

.nav-right .fa-magnifying-glass {
    color: #ffffff;
    font-size: 22px;
    cursor: pointer;
}

.nav-right .fa-magnifying-glass:active {
    color: #999;
    transform: scale(0.8);
}

.nav-right .fa-bars {
    color: #ffffff;
    font-size: 22px;
    background-color: #150803;
    padding: 7px 8px;
    border-radius: 50%;
    cursor: pointer;
}

.nav-right .fa-bars:active {
    transform: scale(0.9);
}

.navbar-toggler {
    border: 1px solid #7436bb;
    background: linear-gradient(42deg, #7436bb 0.01%, #b520a3 100%);
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    display: none;
}

.navbar-toggler:hover {
    background: inherit;
}

.navbar-toggler span {
    color: #ffffff;
    font-size: 22px;
}

@media screen and (max-width: 1000px) {
    .navbar-toggler {
        display: block !important;
    }

    .navbar-nav,
    .nav-right {
        display: none !important;
    }

    .container-nav {
        width: 100%;
        justify-content: space-between;
    }
}
